.version.index /* version checker */
{
	color: #000001;
	background-color: #36A9FC;
}

#page
{
	z-index: 1;
	width: 920px;
	min-height: 3506px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 32px 20px 62px;
}

#u277
{
	z-index: 6;
	width: 920px;
	-pie-box-shadow: 0px 0px 8px #C1C1C1;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.24);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u277_position_content
{
	margin-top: -1px;
	padding-bottom: 27px;
	width: 100%;
}

#u648
{
	z-index: 7;
	width: 920px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u271
{
	z-index: 9;
	width: 866px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 324px;
	left: 31px;
}

#u271_img
{
	padding-bottom: 1px;
}

#u302-4
{
	z-index: 46;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 49px;
}

#u567
{
	z-index: 206;
	width: 362px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 540px;
}

#u672
{
	z-index: 282;
	width: 334px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 103px;
	left: 50px;
}

#ppu350-4
{
	width: 0.01px;
	margin-left: 51px;
}

#pu350-4
{
	width: 0.01px;
	margin-right: -10000px;
}

#u350-4
{
	z-index: 138;
	display: block;
	vertical-align: top;
	position: relative;
}

#u316-18
{
	z-index: 50;
	display: block;
	vertical-align: top;
	position: relative;
}

#u691
{
	z-index: 203;
	width: 300px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 542px;
}

#u552
{
	z-index: 204;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u223
{
	z-index: 32;
	height: 43px;
	width: 89px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 354px;
	left: 63px;
	background: url("../images/u223.png") no-repeat 0px 0px;
}

#u223:hover
{
	background: url("../images/u223-r.png") no-repeat 0px 0px;
}

#u225
{
	z-index: 35;
	height: 43px;
	width: 186px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 354px;
	left: 203px;
	background: url("../images/u225.png") no-repeat 0px 0px;
}

#u225:hover
{
	background: url("../images/u225-r.png") no-repeat 0px 0px;
}

#u226
{
	z-index: 38;
	height: 43px;
	width: 89px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 353px;
	left: 441px;
	background: url("../images/u226.png") no-repeat 0px 0px;
}

#u226:hover
{
	background: url("../images/u226-r.png") no-repeat 0px 0px;
}

#u227
{
	z-index: 41;
	height: 43px;
	width: 89px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 353px;
	left: 581px;
	background: url("../images/u227.png") no-repeat 0px 0px;
}

#u227:hover
{
	background: url("../images/u227-r.png") no-repeat 0px 0px;
}

#u228
{
	z-index: 44;
	height: 43px;
	width: 136px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 353px;
	left: 721px;
	background: url("../images/u228.png") no-repeat 0px 0px;
}

#u228:hover
{
	background: url("../images/u228-r.png") no-repeat 0px 0px;
}

#u491
{
	z-index: 5;
	width: 920px;
	-pie-box-shadow: 0px 0px 8px #C1C1C1;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.24);
	background-color: #FFFFFF;
	padding-bottom: 66px;
	margin-top: 23px;
	position: relative;
}

#pu349-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 25px;
	margin-left: 51px;
}

#u349-4
{
	z-index: 134;
	display: block;
	vertical-align: top;
	position: relative;
}

#u343
{
	z-index: 132;
	width: 440px;
	background-color: transparent;
	margin-top: 11px;
	position: relative;
}

#pu351
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 31px;
	margin-left: 517px;
}

#u351
{
	z-index: 142;
	width: 162px;
	background-color: #664F91;
	margin-left: 193px;
	position: relative;
}

#u351:hover
{
	background-color: #403491;
	width: 162px;
	min-height: 0px;
	margin: 0px 0px 0px 193px;
}

#u352-4
{
	z-index: 143;
	width: 141px;
	min-height: 18px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 15px;
}

#u352-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 141px;
	margin: 1px -10000px 0px 0px;
}

#u352-4:hover p
{
	color: #B0B0B0;
	visibility: inherit;
}

#pu341-32
{
	width: 0.01px;
	margin-top: 18px;
}

#u341-32
{
	z-index: 68;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u342-32
{
	z-index: 100;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 274px;
}

#u494
{
	z-index: 4;
	width: 807px;
	-pie-box-shadow: 0px 0px 8px #BFBFBF;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.25);
	background-color: #FFFFFF;
	margin-top: 25px;
	position: relative;
	padding: 34px 62px 31px 51px;
}

#u354-4
{
	z-index: 147;
	display: block;
	vertical-align: top;
	position: relative;
}

#u389-4
{
	z-index: 163;
	display: block;
	vertical-align: top;
	margin-top: 11px;
	position: relative;
}

#u355
{
	z-index: 151;
	width: 258px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u358
{
	z-index: 153;
	width: 259px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 270px;
}

#u364
{
	z-index: 155;
	width: 194px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 547px;
}

#u390-4
{
	z-index: 167;
	display: block;
	vertical-align: top;
	margin-top: 21px;
	position: relative;
}

#pu277,#pu648,#pu355,#pu377
{
	width: 0.01px;
}

#u377
{
	z-index: 159;
	width: 260px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u371
{
	z-index: 157;
	width: 260px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 270px;
}

#u383
{
	z-index: 161;
	width: 260px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 547px;
}

#u391-4
{
	z-index: 171;
	display: block;
	vertical-align: top;
	margin-top: 21px;
	position: relative;
}

#u497
{
	z-index: 3;
	width: 821px;
	-pie-box-shadow: 0px 0px 8px #BFBFBF;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.25);
	background-color: #FFFFFF;
	margin-top: 33px;
	position: relative;
	padding: 37px 50px 72.27046783625701px 49px;
}

#u397-4
{
	z-index: 185;
	display: block;
	vertical-align: top;
	margin-left: 2px;
	position: relative;
}

#u395-4
{
	z-index: 177;
	display: block;
	vertical-align: top;
	margin-top: 16px;
	position: relative;
}

#u396-4
{
	z-index: 181;
	width: 389px;
	min-height: 23px;
	background-color: transparent;
	font-size: 20px;
	color: #7F7F7F;
	line-height: 24px;
	position: relative;
}

#u392
{
	z-index: 175;
	width: 821px;
	background-color: transparent;
	margin-left: 1px;
	position: relative;
}

#u141-4
{
	z-index: 21;
	display: block;
	vertical-align: top;
	margin-top: 41px;
	position: relative;
}

#u142-4
{
	z-index: 25;
	width: 390px;
	min-height: 22px;
	background-color: transparent;
	font-size: 20px;
	color: #7F7F7F;
	line-height: 24px;
	position: relative;
}

#u398
{
	z-index: 189;
	width: 821px;
	background-color: transparent;
	position: relative;
}

#u392_img,#u398_img
{
	padding-bottom: 34px;
}

#pu530
{
	width: 0.01px;
	margin-top: 40px;
}

#u530
{
	z-index: 2;
	width: 701px;
	-pie-box-shadow: 0px 0px 8px #BFBFBF;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.25);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 36px 179px 14.149999999999636px 40px;
}

#pu546-4
{
	width: 0.01px;
	margin-left: 4px;
}

#u546-4
{
	z-index: 195;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u549-4
{
	z-index: 199;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 593px;
}

#u630-17
{
	z-index: 265;
	width: 340px;
	min-height: 106px;
	background-color: transparent;
	margin-left: 4px;
	margin-top: 12px;
	position: relative;
}

#u630-2,#u630-8,#u630-12
{
	font-weight: bold;
}

#pu123
{
	width: 0.01px;
	margin-top: 13px;
}

#u123
{
	z-index: 11;
	width: 227px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u129
{
	z-index: 17;
	width: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 235px;
}

#u125
{
	z-index: 13;
	width: 227px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u131
{
	z-index: 19;
	width: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 235px;
}

#pu125,#pu127
{
	width: 0.01px;
	margin-top: 1px;
}

#u127
{
	z-index: 15;
	width: 225px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u214
{
	z-index: 29;
	width: 43px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 238px;
}

#u533-4
{
	z-index: 191;
	width: 293px;
	min-height: 19px;
	background-color: transparent;
	margin-left: 274px;
	margin-top: 48px;
	position: relative;
}

#widgetu577
{
	z-index: 208;
	width: 0.01px;
	height: 268px;
	position: relative;
	margin-right: -10000px;
	margin-top: 101px;
	left: 519px;
}

#widgetu586
{
	z-index: 209;
	width: 342px;
	height: 47px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu586.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u589-4
{
	z-index: 210;
	width: 200px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u587-4
{
	z-index: 214;
	width: 328px;
	min-height: 14px;
	border-style: solid;
	border-width: 1px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#muse_css_mq,#widgetu586.non-empty-st #u587-4
{
	background-color: #FFFFFF;
}

#widgetu586:hover #u587-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu586.focus-st #u587-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu586.non-empty-st #u587-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu586:hover #u587-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu586.focus-st #u587-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu578
{
	z-index: 218;
	width: 342px;
	height: 47px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu578.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 60px -10000px 0px 0px;
}

#u581-4
{
	z-index: 219;
	width: 200px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu578.fld-err-st #u581-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u579-4
{
	z-index: 223;
	width: 328px;
	min-height: 14px;
	border-style: solid;
	border-width: 1px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu578.non-empty-st #u579-4
{
	background-color: #FFFFFF;
}

#widgetu578:hover #u579-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu578.focus-st #u579-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu586.fld-err-st #u587-4,#widgetu578.fld-err-st #u579-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu578.non-empty-st #u579-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu578:hover #u579-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu578.focus-st #u579-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu586_input,#widgetu586_prompt,#widgetu578_input,#widgetu578_prompt
{
	width: 328px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#u593-4
{
	z-index: 227;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu577.frm-sub-st #u593-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u590-4
{
	z-index: 231;
	width: 200px;
	min-height: 24px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu577.frm-subm-err-st #u590-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 28px;
}

#widgetu577.frm-subm-err-st #u590-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u592-4
{
	z-index: 235;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu577.frm-sub-st #u593-4,#widgetu577.frm-subm-ok-st #u592-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu577.frm-subm-ok-st #u592-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u591-17
{
	z-index: 239;
	min-height: 31px;
	width: 131px;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	background: url("../images/u591-17.png") no-repeat 0px 0px;
}

#u591-17:hover
{
	background: url("../images/u591-17-r.png") no-repeat 0px 0px;
}

#u591-17:active
{
	background: url("../images/u591-17-m.png") no-repeat 0px 0px;
}

#widgetu577.frm-sub-st #u591-17
{
	background: url("../images/u591-17-fs.png") no-repeat 0px 0px;
}

#widgetu582
{
	z-index: 256;
	width: 342px;
	height: 101px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu582.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 101px;
	min-height: 0px;
	margin: 120px -10000px 0px 0px;
}

#u585-4
{
	z-index: 257;
	width: 200px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu586.fld-err-st #u589-4,#widgetu582.fld-err-st #u585-4
{
	border-width: 0px;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#widgetu586.fld-err-st #u589-4 p,#widgetu586.fld-err-st #u589-4 span,#widgetu578.fld-err-st #u581-4 p,#widgetu578.fld-err-st #u581-4 span,#widgetu582.fld-err-st #u585-4 p,#widgetu582.fld-err-st #u585-4 span
{
	color: #D7244C;
}

#u583-4
{
	z-index: 261;
	width: 328px;
	min-height: 68px;
	border-style: solid;
	border-width: 1px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu582.non-empty-st #u583-4
{
	background-color: #FFFFFF;
}

#widgetu582:hover #u583-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu582.focus-st #u583-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu582.fld-err-st #u583-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu582.non-empty-st #u583-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu582:hover #u583-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu582.focus-st #u583-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu586.fld-err-st #u587-4 *,#widgetu578.fld-err-st #u579-4 *,#widgetu582.fld-err-st #u583-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu582_input,#widgetu582_prompt
{
	width: 328px;
	min-height: 68px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu586.focus-st #widgetu586_prompt,#widgetu578.focus-st #widgetu578_prompt,#widgetu582.focus-st #widgetu582_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu586:hover #widgetu586_input,#widgetu586.focus-st #widgetu586_input,#widgetu586.fld-err-st #widgetu586_input,#widgetu586:hover #widgetu586_prompt,#widgetu586.fld-err-st #widgetu586_prompt,#widgetu578:hover #widgetu578_input,#widgetu578.focus-st #widgetu578_input,#widgetu578.fld-err-st #widgetu578_input,#widgetu578:hover #widgetu578_prompt,#widgetu578.fld-err-st #widgetu578_prompt,#widgetu582:hover #widgetu582_input,#widgetu582.focus-st #widgetu582_input,#widgetu582.fld-err-st #widgetu582_input,#widgetu582:hover #widgetu582_prompt,#widgetu582.fld-err-st #widgetu582_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu586.non-empty-st #widgetu586_prompt,#widgetu578.non-empty-st #widgetu578_prompt,#widgetu582.non-empty-st #widgetu582_prompt
{
	visibility: hidden;
}

.html
{
	background: #FFFFFF url("../images/oranges.jpg") repeat center top fixed;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

